{% extends 'base.html' %}
{% block head %}
<style>
body {
  background-color: black;
}
</style>

{% endblock head %}
{% block title %}Core_Strength{% endblock title %}
{% block body %}
<br>
<h1 style="text-align: center; color: rgb(241, 181, 102);">Core_Strength</h1>
<hr style="height: 5px; color: rgb(241, 181, 102); margin: 10px;">
<div style="color:rgb(94, 212, 245); padding: 20px;">Whether you’re pushing a grocery cart or putting on shoes, you use your core to accomplish everyday activities. It also affects your balance, posture, and stability.<br>Contrary to popular belief, the core doesn’t just include the abdominal muscles. It also consists of muscles in your back and around your pelvis.</div>

<div class="boxed" style="border: 3px solid rgb(173, 176, 173) ; width:20%; color:rgb(168, 240, 240); margin:20px">
    <p style="text-align:center"><strong>Content</strong></p>
    1. Beginner moves<br>
    2. Intermediate moves<br>
    3. Advanced moves<br>
    4. See also<br>
</div>


<p style="color:rgb(25, 240, 57); padding: 20px; display:inline;">
    <h4 style="color:rgb(25, 240, 57);padding:20px; ">Your core, or trunk, includes:</h4><br>
    <ul style="color:rgb(223, 226, 58); ">
        <li>Erector spinae. The erector spinae is a back muscle that extends your trunk. It helps you stand up straight after bending over.</li>
        <li>Rectus abdominis. When you bend forward, you use an abdominal muscle called the rectus abdominis. It’s known as the “six pack” muscle.</li>
        <li>Obliques. Your internal oblique and external oblique let you rotate or bend your trunk.</li>
        <li>Transverse abdominis. The transverse abdominis, which wraps around the front and side of your trunk, stabilizes your pelvis.</li>
        <li>Multifidus. The multifidus in your back supports your spine..</li>
    </ul>
</p>

<h2 style="padding:20px; color:rgb(231, 23, 92)">Beginner moves</h2>
<hr style="height: 3px; color: rgb(241, 181, 102); margin: 10px;">
<p style="color:rgb(25, 240, 57); padding: 20px;">
    If you’re new to exercise or if you haven’t exercised in a long time, start with these beginner moves.

    <h4 style="padding:20px; color:rgb(88, 25, 226); display:inline;">Bridge</h4>
    <p style="color:rgb(102, 211, 127); padding: 20px;">
        This pose activates your glutes to lift your hips. This trains your core while toning your butt and thighs.
        <ol style="color:rgb(235, 79, 31);  ">
            <li>Start on your back. Bend your knees and plant your feet on the floor at hip width. Place your hands at your sides, palms down.</li>
            <li>Tighten your core and glutes.</li>
            <li>Raise your hips until your knees are in line with your shoulders.</li>
            <li>Hold for 10–30 seconds.</li>
        </ol>
    </p>
    
    <h4 style="padding:20px; color:rgb(88, 25, 226);display:inline;">Crunch</h4>
    <p style="color:rgb(102, 211, 127); padding: 20px;">
        Crunches are a classic core-strengthening move. The act of lifting your upper body works your abdominal muscles.<br>If you have low back pain, do crunches with care. Move slowly and start with just a few reps.
        <ol style="color:rgb(235, 79, 31);  ">
            <li>Start on your back. Bend your knees and plant your feet on the floor at hip width. Line up your head and spine. Cross your arms across your chest.</li>
            <li>Tighten your core and relax your neck and shoulders. Tuck in your chin and lift your upper back, keeping your lower back, pelvis, and feet on the floor. Pause.</li>
            <li>Slowly lower your upper back to return to the starting position.</li>
            <li>Start with 1 set of 8–12 reps.</li>
        </ol>
    </p>

    <h4 style="padding:20px; color:rgb(88, 25, 226);display:inline;">Plank</h4>
    <p style="color:rgb(102, 211, 127); padding: 20px;">
        The plank is a full-body exercise that targets your core. It also strengthens your arms, shoulders, back, glutes, and legs.
        <ol style="color:rgb(235, 79, 31);  ">
            <li>Start on all fours, with your hands below your shoulders and your knees below your hips.</li>
            <li>Straighten your legs behind you, keeping your feet hip-width apart. Tighten your core.</li>
            <li>Hold for 10–30 seconds.</li>
        </ol>
    </p>

    <h4 style="padding:20px; color:rgb(88, 25, 226); display:inline;">Supine Toe Tap</h4>
    <p style="color:rgb(102, 211, 127); padding: 20px;">
        The Supine Toe Tap is a basic Pilates exercise. It engages your core muscles while working your glutes, hips, and legs.<br>Toe taps also place minimal pressure on your spine. If you have back pain, toe taps may be an ideal alternative to crunches.
        <ol style="color:rgb(235, 79, 31);  ">
            <li>Start on your back. Lift your legs, knees bent to 90 degrees. Place your hands at your sides, palms down.</li>
            <li>Tighten your core. Lower your right foot and gently tap the floor, keeping your left leg still and your back flat.</li>
            <li>Raise your right leg to return to the starting position. Repeat with your left leg.</li>
            <li>Start with 1 set of 8–12 reps.</li>
        </ol>
    </p>

</p>

<h2 style="padding:20px; color:rgb(231, 23, 92)">Intermediate moves</h2>
<hr style="height: 3px; color: rgb(241, 181, 102); margin: 10px;">
<p style="color:rgb(25, 240, 57); padding: 20px;">
    If you’re new to exercise or if you haven’t exercised in a long time, start with these beginner moves.

    <h4 style="padding:20px; color:rgb(88, 25, 226); display:inline;">Bird dog</h4>
    <p style="color:rgb(102, 211, 127); padding: 20px;">
        The bird dog engages both your abdominal and back muscles, so it’s an ideal core-strengthening move. It also challenges your coordination, balance, and stability.
        <ol style="color:rgb(235, 79, 31);  ">
            <li>Start on all fours, hands below your shoulders and knees below your hips.</li>
            <li>Tighten your core. Lift and straighten your right leg to hip level. Simultaneously lift and extend your left arm to shoulder level, palm down. Pause.</li>
            <li>Repeat with your left leg and right arm.</li>
            <li>Start with 1 set of 8–12 reps.</li>
        </ol>
    </p>
    
    <h4 style="padding:20px; color:rgb(88, 25, 226);display:inline;">Mountain climber</h4>
    <p style="color:rgb(102, 211, 127); padding: 20px;">
        This intermediate exercise combines a plank with knee movements, so it’s an excellent move for balance and core strength.
        <ol style="color:rgb(235, 79, 31);  ">
            <li>Start in a plank with your hands below your shoulders. Tighten your core.</li>
            <li>Lift your right knee toward your chest, keeping your back straight and hips down.</li>
            <li>Return your right leg to the starting position as you simultaneously lift your left knee toward your chest.</li>
            <li>Continue alternating legs. Start with 1 set of 8–12 reps.</li>
        </ol>
    </p>

    <h4 style="padding:20px; color:rgb(88, 25, 226);display:inline;">Warrior crunch</h4>
    <p style="color:rgb(102, 211, 127); padding: 20px;">
        This crunch variation works your core and lower body, including your thighs, glutes, and quads.
        <ol style="color:rgb(235, 79, 31);  ">
            <li>Stand with your feet slightly wider than shoulder width and your toes turned outward. Put your hands behind your head and open your chest.</li>
            <li>Tighten your core and glutes. Bend your knees until your thighs are parallel to the floor.</li>
            <li>Bend your torso to the side, moving your right elbow toward your right thigh. Repeat on the left side.</li>
            <li>Start with 1 set of 8–12 reps.</li>
        </ol>
    </p>

</p>


<h2 style="padding:20px; color:rgb(231, 23, 92)">Advanced moves</h2>
<hr style="height: 3px; color: rgb(241, 181, 102); margin: 10px;">
<p style="color:rgb(25, 240, 57); padding: 20px;">
    Once you’ve mastered intermediate moves, challenge yourself to an advanced core routine. These exercises will further build core strength by engaging your muscles in more complex ways.
    <h4 style="padding:20px; color:rgb(88, 25, 226); display:inline;">Side plank with rotation</h4>
    <p style="color:rgb(102, 211, 127); padding: 20px;">
        This exercise is an advanced version of the basic plank. It strengthens the arms, shoulders, and obliques by combining a side plank with arm movements.
        <ol style="color:rgb(235, 79, 31);  ">
            <li>Lie on your right side with your right forearm below your shoulder. Extend your legs, left foot on top of right. Tighten your core.</li>
            <li>Lift your hips to form a straight line with your body. Raise your left arm straight up.</li>
            <li>Rotate your torso toward the floor and bring your left arm under your body.</li>
            <li>Rotate your torso and straighten your left arm to return to the starting position.</li>
            <li>Start with 1 set of 8–12 reps.</li>
            <li>Repeat on the other side.</li>
        </ol>
    </p>
    
    <h4 style="padding:20px; color:rgb(88, 25, 226);display:inline;">Bicycle crunch</h4>
    <p style="color:rgb(102, 211, 127); padding: 20px;">
        This classic exercise strengthens your abs by placing them under constant tension.
        <ol style="color:rgb(235, 79, 31);  ">
            <li>Start on your back. Bend your knees and plant your feet on the floor at hip width. Line up your head and spine. Place your hands behind your head, elbows pointing out to the sides.</li>
            <li>Tighten your core and move your shoulders back and down. Bend your right knee toward your chest and extend your left leg, lifting it a few inches off the floor.</li>
            <li>Lift your left shoulder and upper back, bringing your left elbow toward your right knee.</li>
            <li>Tap your left shoulder on the floor and simultaneously switch your legs.</li>
            <li>Continue alternating elbows and knees, starting with 1 set of 8–12 reps</li>
        </ol>
    </p>

    <h4 style="padding:20px; color:rgb(88, 25, 226);display:inline;">Bird dog with elbow to knee</h4>
    <p style="color:rgb(102, 211, 127); padding: 20px;">
        This variation on the basic bird dog incorporates fluid movement to engage your abs and back while improving core mobility.
        <ol style="color:rgb(235, 79, 31);  ">
            <li>Start on all fours, hands below your shoulders and knees below your hips.</li>
            <li>Tighten your core. Lift and straighten your right leg to hip level. Simultaneously lift and extend your left arm to shoulder level, palm down.</li>
            <li>Bring your right knee and left elbow toward each other. Return to the starting position.</li>
            <li>Start with 1 set of 8–12 reps.</li>
            <li>Repeat on the other side.</li>
        </ol>
    </p>

</p>

<h2 style="padding:20px; color:rgb(231, 23, 92)">See also</h2>
<hr style="height: 3px; color: rgb(241, 181, 102); margin: 10px;">
<p style="color:rgb(25, 240, 57); padding: 20px;">
    <a href="https://www.self.com/gallery/core-exercises-top-trainers-swear-by" target="_blank" style="background-color: #f44336; color: white; padding: 14px 20px; text-align: center;text-decoration: none; display: inline-block;">Self Exercise</a>
    <a href="https://www.verywellfit.com/the-best-exercises-for-core-strength-3120054" target="_blank" style="background-color: #f44336; color: white; padding: 14px 20px; text-align: center;text-decoration: none; display: inline-block;">VeryWell Fit</a>
    <a href="https://www.verywellfit.com/quick-core-workout-routine-3120075" target="_blank" style="background-color: #f44336; color: white; padding: 14px 20px; text-align: center;text-decoration: none; display: inline-block;">20-min Core workout</a>
</p>

<h2 style="padding:20px; color:rgb(231, 23, 92)">References</h2>
<hr style="height: 3px; color: rgb(241, 181, 102); margin: 10px;">
<p style="color:rgb(25, 240, 57); padding: 20px;">
    <a href="https://www.healthline.com/health/best-core-exercises#intermediate" target="_blank">Core_Strength</a><br>
</p>


{% endblock body %}