{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}


<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/static/img/a4.jpg" class="d-block w-100" style="height: auto; width: auto;" >
      <div class="carousel-caption d-none d-md-block">
        {% comment %} <h5>First slide label</h5> {% endcomment %}
        <h4 style="color: white;">All progress takes place outside the comfort zone</h4><p style="color: white;"> ~ Michael John</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/static/img/a1.jpg" class="d-block w-100" style="height: auto; width: auto;">
      <div class="carousel-caption d-none d-md-block">
        {% comment %} <h5>Second slide label</h5> {% endcomment %}
        <h4 style="color: white;">What hurts today makes you stronger tomorrow</h4><p style="color: white;"> ~ Jay Cutler</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/a3.jpg" class="d-block w-100" style="height: auto; width: auto;">
      <div class="carousel-caption d-none d-md-block">
        {% comment %} <h5>Third slide label</h5> {% endcomment %}
        <h4 style="color: white;">Never Give Up</h4><p style="color: white;"> ~ John Cena</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="footer" style="background-color: #101011;
    color: white;width: 100%;">
  <div class="wrapper">
      <p class="text-center">2021 All rights reserved ,Welness and Fitness Portal,Developed by- <a href="https://www.instagram.com/_hetdesai8/" target="_blank" style="background-color: #3742fa; color: #dfe4ea; padding: 10px 14px; text-align: center;text-decoration: none; display: inline-block;">Het Desai</a> & <a href="https://www.instagram.com/bhavin.chavda.07/" target="_blank" style="background-color: #7bed9f; color: rgb(27, 4, 78); padding: 10px 14px; text-align: center;text-decoration: none; display: inline-block;">Bhavin Chavda</a></p>
  </div> 
</div>



{% endblock body %}