{% extends 'base.html' %}
{% block head %}
<style>
body {
  background-image: url('/static/img/26.jfif');
  background-size: cover;
}
</style>

{% endblock head %}
{% block title %}Workout{% endblock title %}
{% block workoutactive %}active{% endblock workoutactive %}
{% block body %}

<div class="row" style="margin: 0 -5px;">
    <div class="column" style="float: left; width: 33%; padding: 37px;">
        <div class="card m-5" style="width: 22rem; height: 30rem; background: transparent; border-radius: 5px;border-color: rgb(241, 181, 102); border-width: 3px;">
            <img src="/static/img/17.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center; color:white">Core Strength</h4>
                <p class="card-text" style="color: white;">Core strength building workouts and training programs</p><br><br>
                <a href="/workout/core_strength" class="btn btn-primary" style="background-color: rgb(241, 181, 102); border-color: black; color: black;">Get Details</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 33%; padding: 37px;">
        <div class="card m-5" style="width: 22rem; height: 30rem; background: transparent; border-radius: 5px;border-color: rgb(241, 181, 102); border-width: 3px;">
            <img src="/static/img/19.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center; color:white">Resistance</h4>
                <p class="card-text" style="color: white;">It involves the perfomance of physical excersises which are designed to improve strength and endurance</p><br>
                <a href="/workout/resistance" class="btn btn-primary" style="background-color: rgb(241, 181, 102); border-color: black; color: black;">Get Details</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 33%; padding:  37px;">
        <div class="card m-5" style="width: 22rem; height: 30rem; background: transparent; border-radius: 5px;border-color: rgb(241, 181, 102); border-width: 3px;">
            <img src="/static/img/12.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center; color:white">Strength Training</h4>
                <p class="card-text" style="color: white;">The goal of this type of training is to increase muscle mass</p><br><br>
                <a href="/workout/strength_training" class="btn btn-primary" style="background-color: rgb(241, 181, 102); border-color: black; color: black;">Get Details</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 33%; padding:  37px;">
        <div class="card m-5" style="width: 22rem; height: 30rem; background: transparent; border-radius: 5px;border-color: rgb(241, 181, 102); border-width: 3px;">
            <img src="/static/img/end.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center; color:white">Endurance</h4>
                <p class="card-text" style="color: white;">A form of physical exercise that combines rhythmic aerobic exercise with stretching and strength training routines</p><br>
                <a href="/workout/endurance" class="btn btn-primary" style="background-color: rgb(241, 181, 102); border-color: black; color: black;">Get Details</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 33%; padding: 37px;">
        <div class="card m-5" style="width: 22rem; height: 30rem; background: transparent; border-radius: 5px;border-color: rgb(241, 181, 102); border-width: 3px;">
            <img src="/static/img/13.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center; color:white">Cross Training</h4>
                <p class="card-text" style="color: white;">Mixing different workouts and training methods</p>
                <br><br>
                <a href="/workout/cross_training" class="btn btn-primary" style="background-color: rgb(241, 181, 102); border-color: black; color: black;">Get Details</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 33%; padding: 37px;">
        <div class="card m-5" style="width: 22rem; height: 30rem; background: transparent; border-radius: 5px;border-color: rgb(241, 181, 102); border-width: 3px;">
            <img src="/static/img/15.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center; color:white">HIIT</h4>
                <p class="card-text" style="color: white;"><strong>High-Intensity interval training</strong><br>This refers to tough quick, intense bursts of exercise, followed by short recovery periods</p>
                <a href="/workout/hitt" class="btn btn-primary" style="background-color: rgb(241, 181, 102); border-color: black; color: black;">Get Details</a>
            </div>
        </div>
    </div>
</div>


{% endblock body %}