{% extends 'base.html' %}
{% block title %}Workout{% endblock title %}
{% block workoutactive %}active{% endblock workoutactive %}
{% block body %}

<div class="row" style="margin: 0 -5px;">
    <div class="column" style="float: left; width: 33%; padding:  37px;">
        <div class="card m-5" style="width: 22rem; height: 27rem;">
            <img src="/static/img/b1.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Endurance</h4>
                <p class="card-text">A form of physical exercise that combines rhythmic aerobic exercise with stretching and strength training routines</p><br>
                <a href="/workout/endurance" class="btn btn-primary">Get Details</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 33%; padding:  37px;">
        <div class="card m-5" style="width: 22rem; height: 27rem;">
            <img src="/static/img/b2.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Strength Training</h4>
                <p class="card-text">The goal of this type of training is to increase muscle mass</p><br><br>
                <a href="/workout/strength_training" class="btn btn-primary">Get Details</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 33%; padding: 37px;">
        <div class="card m-5" style="width: 22rem; height: 27rem;">
            <img src="/static/img/b3.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Cross Training</h4>
                <p class="card-text">Mixing different workouts and training methods</p>
                <br><br>
                <a href="/workout/cross_training" class="btn btn-primary">Get Details</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 33%; padding: 37px;">
        <div class="card m-5" style="width: 22rem; height: 27rem;">
            <img src="/static/img/b4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">HIIT</h4>
                <p class="card-text"><strong>High-Intensity interval training</strong><br>This refers to tough quick, intense bursts of exercise, followed by short recovery periods</p>
                <a href="/workout/hitt" class="btn btn-primary">Get Details</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 33%; padding: 37px;">
        <div class="card m-5" style="width: 22rem; height: 27rem;">
            <img src="/static/img/b1.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Core Strength</h4>
                <p class="card-text">Core strength building workouts and training programs</p><br><br>
                <a href="/workout/core_strength" class="btn btn-primary">Get Details</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 33%; padding: 37px;">
        <div class="card m-5" style="width: 22rem; height: 27rem;">
            <img src="/static/img/b2.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Resistance</h4>
                <p class="card-text">It involves the perfomance of physical excersises which are designed to improve strength and endurance</p><br>
                <a href="/workout/resistance" class="btn btn-primary">Get Details</a>
            </div>
        </div>
    </div>
</div>









{% endblock body %}