{% extends 'base.html' %}
{% block title %}Workout{% endblock title %}
{% block workoutactive %}active{% endblock workoutactive %}
{% block body %}

<div class="row" style="margin: 0 -5px;">
    <div class="column" style="float: left; width: 25%; padding: 0 10px;">
        <div class="card m-5" style="width: 18rem;">
            <img src="/static/img/b1.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 25%; padding: 0 10px;">
        <div class="card m-5" style="width: 18rem; ">
            <img src="/static/img/b2.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 25%; padding: 0 10px;">
        <div class="card m-5" style="width: 18rem;">
            <img src="/static/img/b3.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="column" style="float: left; width: 25%; padding: 0 10px;">
        <div class="card m-5" style="width: 18rem;">
            <img src="/static/img/b4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>









{% endblock body %}